{% extends 'base_main.html' %} {% block content %}
<main>
  <section class="talk">
    <div class="talk__inner">
      <div class="talk__texts">
        <div class="talk__texts-inner">
          <div class="talk__title main-title item ">
            <span class="purple tween-animate-title">私</span> <span class="tween-animate-title">について</span>
          </div>
          <div class="talk__sub sub-title item">
            About Me
          </div>
          <div class="talk__description item">
            <p>
              名前：藤井直人
            </p>
            <p>
              医療系分野の大学院を卒業し、医療従事者として勤務するも、
              <br />
              自分の仕事はすべてAIに奪われてしまうと感じ、エンジニアへの転身を決意。
              <br />
              現場での経験を活かし、ユーザーとITの両方の観点から様々な問題を解決できるエンジニアを目指す。
            </p>
            <p>
              大学院の時は尿路上皮癌細胞の培養細胞を用いて、
              <br />
              細胞周期に関する遺伝子に着目した癌の発生要因の研究を行っていた。
            </p>
            <p>
              趣味：音楽鑑賞、漫画、アニメ、健康グッズ、ジョギング
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock content %}